:root {
    --text: #ffffff;
    --main: #E78728;
    --error: #FF0303;
}

.header {
    height: 80px;
    background-color: var(--main);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--text);
    font-size: 2rem;
    font-weight: 800;
}